[submodule "Modules/Models"]
	path = Modules/Models
	url = https://github.com/iCookbook/Models
[submodule "Modules/Personal"]
	path = Modules/Personal
	url = https://github.com/iCookbook/Personal
[submodule "Modules/Search"]
	path = Modules/Search
	url = https://github.com/iCookbook/Search
[submodule "Modules/Discover"]
	path = Modules/Discover
	url = https://github.com/iCookbook/Discover
[submodule "Modules/Networking"]
	path = Modules/Networking
	url = https://github.com/iCookbook/Networking
[submodule "Modules/Resources"]
	path = Modules/Resources
	url = https://github.com/iCookbook/Resources
[submodule "Modules/Persistence"]
	path = Modules/Persistence
	url = https://github.com/iCookbook/Persistence
[submodule "Modules/CommonUI"]
	path = Modules/CommonUI
	url = https://github.com/iCookbook/CommonUI
